body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f3;
}

.calculator {
    width: 300px;
    background-color: #ecf0f3;
    border: 1px solid #0c0000;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0, 0, 0, .16);
    }
.calculator #display {
    grid-column: span;
    width: 100%;
    height: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    text-align: right;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset  5px  5px 12px rgba(0, 0, 0, .16);
    border-radius: 30px;
    color: rgb(70, 70, 70);
    margin:auto;
}

.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 30px;
}

.calculator button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border:#0c0000;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset  5px  5px 12px rgba(0, 0, 0, .16);
    border-radius: 30px;
    background-color: #ecf0f3;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculator button:hover {
    background-color: #2ed1ee;
}
